.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: 500;
}

.link {
  margin: 10px;
  color: black;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link_btn {
  color: inherit;

  &:disabled {
    color: #c3c3c3;
  }
}

.arrow {
  border-color: transparent;
  font-size: 25px;
  color: inherit;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.active .number {
  background-color: #11B0C8;
  border: 1px solid  #11B0C8;
  border-radius: 50%;
  color: white;
}