.nav {
  display: flex;
  gap: 15px;
}

:global(.active) {
  color: red;
  font-weight: 800;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 16px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.favorites_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 8px 6px 6px;
  border-radius: 32px;
  color: #F1F1F1;
  background: #11B0C8;
  transition: .5s;
  cursor: pointer;

  &_icon {
    width: 21px;
    height: 18px;
    margin-right: 8px;
    transition: .5s;
  }
}

.favCount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
  height: 25px;
  width: 25px;
  background-color: #F1F1F1;
  border: 2px solid #11B0C8;
  border-radius: 50%;
  z-index: 5;

  &_number{
    color: #11B0C8;
  }
}