.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigate{
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}

.window {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 750px;
  padding: 20px 0;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 100%;
  border-radius: 8px;
  font-size: 30px;
  opacity: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.nextSlide {
  transform: translateX(100%);
}

.activeSlide{
  opacity: 1;
  transform: translateX(0);
  z-index: 5;
}

.prevSlide{
  transform: translateX(-100%);
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 40px;
  gap: 15px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #000;
  border-radius: 7px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.active {
  width: 50px;
  background-color: #11B0C8;
}